input[id='list_layout']:checked ~ .container .cards .card
{
    width: 100%;

}

input[id='list_layout']:checked ~ .container .cards .card .name_photo img
{
    float: right;
}

input
{
    margin-top: -170px;
    margin-left: -300px;
}

.container
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #f6eafe;

}

header
{
    display: table;
    width: 100%;
    height: 150px;
}

header div
{
    width: 10%;
    display: table-cell;
    position: relative;

}

input
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    left: 30%;
    right: 45%;
}

header h1
{
    width: 90%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'Mali', cursive;
}

.cards
{
    display: table;
    width: 100%;
}

.card
{
    margin-bottom: 40px;
    width: calc(100% / 3 - 10px);
    text-align: left;
    display: inline-table;
}

.name_photo img
{
    width: 250px;
    height: 250px;
    margin-left: 90px;
    border-radius: 200px; /* Радиус скругления */
    border: 5px solid #ec8bb6; /* Параметры рамки */
    box-shadow: 0 0 10px #ec8bb6;

}

img:hover
{
    cursor: pointer;
    animation: bounceOut .4s linear;
}

@keyframes bounceOut
{
    0%
    {
        box-shadow: 0 0 0 5px #ec8bb6;
        opacity: 1;
    }
    25%
    {
        box-shadow: 0 0 0 1px #ec8bb6;
        opacity: 1;
    }
    50%
    {
        box-shadow: 0 0 0 8px #ec8bb6;
        opacity: 1;
    }
    75%
    {
        box-shadow: 0 0 0 5px #ec8bb6;
        opacity: 1;
    }
    100%
    {
        box-shadow: 0 0 0 10px #ec8bb6;
        opacity: 1;
    }
}

.name_photo h3
{
    text-align: center;
    font-family: 'Mali', cursive;

}

li
{
    list-style-image: url("heart.jpg");
    font-family: 'Mali', cursive;
}

@media (max-width: 925px)
{
    .cards > section.card
    {
        width: 100%;
    }
}
